* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    display: flex;
}

.background-image {
    background: url("bg-1.avif") no-repeat;
    background-size: cover;
    width: 35vw;
    height: 100vh;
    position: relative;
}

.logo {
    display: flex;
    background-color: rgb(0, 0, 0, 50%);
    color: white;
    text-align: center;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 13rem;
    align-items: center;
    justify-content: center;
    font: 10em "norsebold";
}

.odin-logo {
    height: 90%;
}

.form-background {
    width: 65vw;
    height: 100vh;
}

.form-header {
    height: 33vh;
    font-size: 1.8em;
    padding: 5rem 20rem 0 5.5rem;
    background-color: rgb(250, 250, 250);
}

.form-body {
    height: 33vh;
    font-size: 1.8em;
    padding: 1rem 0px 0 5.5rem;
    box-shadow: 2px 2px 10px 1px grey;
}

.form-container {
    display: flex;
    font-size: .6em;
    height: 15.7em;
    gap: 5em;
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
    margin-bottom: 20px;
    border: solid #E5E7EB 1px;
    border-radius: 5px;
    width: 20em;
    height: 2.5em;
}

.form-row input[type='text']:focus,
.form-row input[type='email']:focus,
.form-row input[type='tel']:focus,
.form-row input[type='password']:focus {
    border: solid blue 2px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, .2);
    outline: none;
} 

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid,
.form-row input[type='tel']:invalid,
.form-row input[type='password']:invalid {
    border: solid red 2px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, .2);
    outline: none;
} 

.form-footer {
    margin-top: 10px;
    height: 33vh;
    background-color: rgb(250, 250, 250);
    padding: 1rem 0 0 5.5rem;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

#error {
    border: solid red 2px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, .2);
}

#error + span::before {
    content: "*passwords do not match";
    color: red;
    font-size: .6em;
    position: absolute;
    top: 230px;
}

@font-face {
    font-family: "norsebold";
    src: 
        url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }

    .form-row input[type='text']:valid,
    .form-row input[type='email']:valid,
    .form-row input[type='tel']:valid,
    .form-row input[type='password']:valid {
        border: solid green 2px;
        box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, .2);
        outline: none;
    } 